@charset "utf-8";
/* CSS Document */

body{
	background-color: #F3F4F7;
	margin: 0px;
}

*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

h1 {
    border-bottom: 1px solid #ddd;
    color: #888888;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
    padding-bottom: 10px;
}

a{
	color: #56958b;
}

a:hover{
	color: #ffffff;
	background-color: #56958b;
}

div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin: 20px auto auto;
    padding: 20px;
    width: 70%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

input[type="submit"] {
    background: lightblue none repeat scroll 0 0;
    border: 1px solid darkblue;
    border-radius: 3px;
    color: black;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

strong {
    background: #758477 none repeat scroll 0 0;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
    text-align: center;
    width: 100%;
}

video{
    width: 300px;
}